= semantic_form_for [:admin, @discount_coupon], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs 'Coupon data' do
    = f.semantic_errors
    = f.input :stripe_id
    = f.input :product
    = f.input :stripe_body
    = f.input :discount_percentage
    = f.input :discount_forever, as: :boolean
    %br
  = f.actions