<h1>Greetings <%= @user.email %></h1>
  <p>
    Your import process (<%= @importer_name %>) has failed, with errors starting in the line with this data: <%= @row_data %>
  </p>
  <p>
    Errors are <%= @errors.to_s %>
  </p>
<p>Have a great day!</p>