<h1>Greetings <%= @user.email %></h1>
  <p>
    You have requested new password this is your code <%= @user.recover_password_code %>,
    your username is: <%= @user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>