= semantic_form_for [:admin, @session], builder: ActiveAdmin::FormBuilder do |f|
  %br
  .tabs
    %ul.nav.nav-tablist
      %li
        = link_to 'Details', '#details'
      %li 
        = link_to 'Session Blocks', '#session_blocks'
    .tab-content
      .inputs{ id: 'details' }
        = f.inputs 'Session Data' do
          = f.semantic_errors
          = f.input :code_name
          = f.input :warmup_id, label: 'warmup_id'
          = f.input :cooldown_id, label: 'cooldown_id'
          = f.input :order, input_html: { width: '50' }
          =# f.input :session_type
          =# f.input :time_duration
          = f.input :reps
          = f.input :image, as: :file
          = f.input :strength
          = f.input :endurance
          = f.input :technique
          = f.input :flexibility
          = f.input :intensity
          = f.inputs do 'English Translations'
            = f.input :name_en, label: 'name'
            = f.input :description_en, label: 'description', as: :text
          = f.inputs do 'Spanish Translations'
            = f.input :name_es, label: 'name es'
            = f.input :description_es, label: 'description es', as: :text

      .sessions{ id: 'session_blocks' }
        - f.has_many :session_blocks, heading: 'Session blocks', sortable: :order, sortable_start: 1 do |sb|
          - sb.input :block_type
          - sb.input :order
          - sb.input :time_duration
          - sb.input :loop, as: :boolean
          - sb.has_many :session_sets, heading: 'Session sets', sortable: :order, sortable_start: 1 do |st|
            -st.input :order
            -st.input :time_duration
            -st.input :loop
            -# -st.input :time_duration    
            -# -st.input :reps             
            -# -st.input :session_set_type 
            - st.has_many :exercise_sets, heading: 'Exercise set', sortable: :order, sortable_start: 1 do |e|
              - e.input :order
              - e.input :exercise_id, collection: ['dsa']
              - e.input :reps
              - e.input :time_duration
              - e.input :track_reps
    = f.actions