
= semantic_form_for :load_session, url: import_csv_admin_sessions_path do |f| 
  - f.inputs do
    = f.input :csv, as: :file
    = f.input :name
    = f.input :code_name
    = f.input :order
    = f.input :strength, input_html: { type: 'number'}
    = f.input :endurance, input_html: { type: 'number'}
    = f.input :technique, input_html: { type: 'number'}
    = f.input :flexibility, input_html: { type: 'number'}
    = f.input :intensity, input_html: { type: 'number'}
    = f.input :program_id, collection: Program.all.pluck(:code_name, :id).uniq
    = f.input :session_update_id, label: 'Enter id of the session to replace', input_html: { type: 'number'}
    = f.action :submit
   