.row
  .col-8
    .container
      = render partial: 'admin/sessions/attributes', locals: { session: session }
  .col-4= render partial: 'admin/versions/index', locals: { versions: session.versions.last(5) }