= semantic_form_for [:admin, @profile], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs 'Profile' do
    = f.semantic_errors
    = f.input :name
    = f.input :gender
    = f.input :activity_level
    = f.input :goal
    = f.input :max_fat_level
    = f.input :min_fat_level
  = f.actions