%table.table-bordered
  %thead
    %tr
      %th Attribute
      %th Value
  %tbody.text-left
    - program.attributes.each do |attribute|
      %tr
        %td
          %b= attribute.first.humanize
        %td= attribute.second