= semantic_form_for [:admin, @program], builder: ActiveAdmin::FormBuilder do |f|
  %br
  .tabs
    %ul.nav.nav-tablist
      %li
        = link_to 'Details', '#details'
      %li 
        = link_to 'Sessions', '#sessions'
      %li
        = link_to 'Associated Products', '#products'
      %li
        = link_to 'Associated Profiles (for recomendations)', '#profiles'
    .tab-content
      .inputs{ id: 'details' }
        = f.inputs 'Program Data' do
          = f.semantic_errors
          %br
          = f.input :code_name
          %br
          = f.input :available
          %br
          = f.input :auto_generated
          %br
          = f.input :pro
          %br
          = f.input :priority_order, label: 'order (for programs suggestions)', as: :number
          = f.input :user, collection: User.where(is_admin: true).map {|user|[user.email, user.id]}
          = f.input :image, as: :file
          = f.input :image2, as: :file
          = f.input :strength
          = f.input :endurance
          = f.input :technique
          = f.input :flexibility
          = f.input :intensity
          = f.input :name_en
          = f.input :name_es
          = f.input :description_en, as: :text
          = f.input :description_es, as: :text

          = f.inputs 'Characteristics' do
            - f.has_many :program_characteristics, heading: 'Program Characteristics' do |s|
              %br
              - s.input :value_en
              %br
              - s.input :value_es
              %br
              - s.input :objective
              %br
              - s.input :_destroy, :as => :boolean, :label => "Destroy?"      

      .sessions{id: 'sessions'}
        = f.inputs 'Sessions' do
          - f.has_many :program_sessions, heading: 'Sessions' do |ses|
            .container
              .row
                .col-12
                  %br
                  - ses.input :session_id
                  %br
                  - if !ses.object.nil?
                    - if ses.object.session.present?
                      %br
                      =link_to "session #{ses.object.session.order} : #{ses.object.session.code_name || ses.object.session.name}", admin_session_path(ses.object.session)
                      %br
                      %br
                    - ses.input :_destroy, :as => :boolean, :label => "Destroy?"      
      .products{ id: 'products' }
        = f.inputs 'Products' do
          - f.has_many :product_programs, heading: 'Products' do |pr|
            .row
              .col-12
                %br
                - pr.input :product
      .profiles{ id: 'profiles' }
        = f.inputs 'Profiles' do
          - f.has_many :program_profiles, heading: 'Profiles' do |profile|
            .row
              .col-12
                %br
                - profile.input :profile
                %br
                - if !profile.object.nil?
                  - profile.input :_destroy, :as => :boolean, :label => "Destroy?"
                
    = f.actions
