.row
  .col-8
    .container
      = render partial: 'admin/programs/attributes', locals: { program: program }
  .col-4= render partial: 'admin/versions/index', locals: { versions: program.versions.last(5) }