%h3 Previous versions (5)

- versions.reverse.each do |version|
  .alert.alert-primary
    .row
      .col= version.index
      .col= version.event.humanize
    - hashito = YAML.load(version.object) if version.object
    - if hashito
      - hashito.keys.reject{|a| a == 'encrypted_password'}.each do |key|
        .row
          .col= key
          .col= hashito[key]
