= semantic_form_for [:admin, @exercise], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs 'Exercise  Data' do
    = f.semantic_errors
    = f.input :coach_id
    = f.input :name_en
    = f.input :name_es
    = f.input :description_en, as: :text
    = f.input :description_es, as: :text
    = f.input :notes_en, as: :text
    = f.input :notes_es, as: :text
    = f.input :met_multiplier
    = f.input :deprecated
    %br
    = f.input :video
    = f.input :implement_variation, collection: Exercise.all.order(:name_es).pluck(:name_es)
    = f.inputs 'Implements' do
      - f.has_many :exercise_implements, heading: 'Implements' do |s|
        - s.input :implement

  = f.actions