.row
  .col-8
    .container
      - if exercise.video
        .row.justify-content-center
          %video{:controls => "", :height => "411", :width => "731"}
            %source{:src => "#{exercise.video}", :type => "video/mp4"}
              Your browser does not support the video tag.
      - if exercise.video_female
        .row.justify-content-center
          %video{:controls => "", :height => "411", :width => "731"}
            %source{:src => "#{exercise.video_female}", :type => "video/mp4"}
              Your browser does not support the video tag.
      - if exercise.video_male
        .row.justify-content-center
          %video{:controls => "", :height => "411", :width => "731"}
            %source{:src => "#{exercise.video_male}", :type => "video/mp4"}
              Your browser does not support the video tag.
      = render partial: 'admin/exercises/attributes', locals: { exercise: exercise }
  .col-4= render partial: 'admin/versions/index', locals: { versions: exercise.versions.last(5) }