- f.has_many :session_sets, heading: 'Session sets', sortable: :order, sortable_start: 1 do |s|
  -s.input :order            
  -s.input :level            
  -s.input :time_duration    
  -s.input :reps             
  -s.input :session_set_type 