.selector-for-some-widget {
    box-sizing: content-box;
}

/* Utilities */

.centrar-texto {
    text-align: center;
}

.white {
    color: white !important;
}

.light-grey {
    color: #9F9F9F;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.margin-bottom-double {
    margin-bottom: 80px;
}

.margin-top {
    margin-top: 100px !important;  /* No deberia */
}

.margin-right {
    margin-right: 100px;
}

.center {
    margin: auto;
}

.display-flex {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: end;
}

/* Main */

body {
    font-family: 'Open Sans', sans-serif !important;
}

ul {

    list-style-type: none;
  
  }
  
  
  ul li:before {
  
    content: '';
  
    display: inline-block;
  
    height: 30px;
  
    width: 30px;
  
     background-size: 30px;
  
    background-image: url("../planes/orange-tick.png");
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
  
  }

h1, h2 {
    font-family: 'Nunito', sans-serif;

}

nav {
   text-align: center;
   background-color: #2B2B2B;
   ;
   margin-top: 0;
   
}

.icon-bar {
    height: 60px;
    width: 60px;
}

.container {
    margin-top: 30px;
    padding-left: 200px !important;
    padding-right: 200px !important;
}

@media (max-width: 1199.98px) {
    .container {
        padding: 0px !important;
    }
}

.col {
    height: 366px;
    width: 200px !important;
    margin-right: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.margin-bottom-h2-boxes {
    margin-bottom: 200px;
}

/* background-images boxes */



.bg-image-2 {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//planes/MuHu\ 1.png");
}

.bg-image-3 {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//planes/barbells-dumbbells-equipment-669584\ 1.png");
}

.bg-image-4 {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//planes/5WChallenge-PH\ 1.png");

}

.bg-image-5 {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//planes/10WChallenge-PH\ 1.png");

}

.bg-image-6 {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//planes/Ringmaster\ 1.png");

}

.bg-image-7 {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//planes/Unbreakable\ 2.png");

}

.border {
    border-radius: 4%;
}

.border-shadow {
    box-shadow: 0px 6px 17px 6px rgba(0, 0, 0, 0.17);
}

.row {
    margin-bottom: 100px;
}

.container-carousel {
    margin-top: 50px;
}

.container-carousel h2 {
    margin-top: 30px;
}

.carousel-temp-hight {
    height: 400px;
}

.carousel {
    font-family: 'Open Sans', sans-serif !important;  /* No funciona */
}

/* Plane_2 */

.margin-bottom-20 {
    margin-bottom: 20px;
}



/* Plane_3 */

.col-6 h2 {
    margin-bottom: 20px;
}

.col-6 h5 {
    margin-bottom: 40px;
}

@media (max-width: 767.98px) {
    .media-0-width {
        width: 0 !important;
    }

    .width-100 {
        width: 100% !important;
    }
    
}

.container-objetivos {
    background-image: url(../planes/Diseño\ sin\ título\ \(11\)\ 1.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.margin-text-objetivos {
    padding: 150px 0 150px 150px;
}

.margin-text-objetivos h2 {
    margin-bottom: 20px;
}

.btn-danger {
    background-color: #FF4622 !important;
    border-color: transparent !important;
    
}

.container-equip {
    margin-bottom: 100px;
}

.container-equip h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-size {
    width: 248px;
}

.btn-light {
    background-color: white !important;
    border: 1px solid #E5E5E5 !important;
}

/* Plane 4 */

.nav-plane-4 {
    background-color: rgba(43, 43, 43, 0.74);

}

.margin-text-resultados-pro {
    padding: 50px 100px 50px 100px;
}

.container-planes-pro h2 {
    margin-top: 0;
}

.container-planes-pro {
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

.btn-size-2 {
    width: 399px;
    height: 108px;
}

.padding-ventajas {
    padding-left: 50px;
}

/* Plane 5 */

.zero-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-image-link {
    background-image: url(../planes/MAMMOTH\ HUNTERS-7142\ 1.png);
    height: 320px;
    background-repeat: no-repeat;
   
}

.height-cont-app {
    height: 320px;
}