= semantic_form_for [:admin, @offer], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs 'Offer  Data' do
    = f.semantic_errors
    = f.input :offer_code
    - f.has_many :product_offers, heading: 'Products' do |po|
      - po.input :product, as: :select, collection: Product.where(available: true).order(:store).map { |p| [ "#{p.store_reference} (#{p.store})", p.id] }
    = f.submit
