%h2.pt-5
  = program.name
  %button.btn.btn-danger.margin-bottom-20 Tu Programa
  %ul.d-grid.gap-2.margin-bottom.ps-0
    %li Plan de 4 semanas.
    %li 4 entrenamientos por semana.
    %li Texto
  %h2 Tu subscripción
  %h5.light-grey Tienes el Plan Lite gratuito
  %ul.d-grid.gap-2.ps-0
    %li Sesiones ilimitadas y gráficas básicas.
    %li Acceso a todos los programas de entrenamiento.
    %li Acceso a todos los planes de nutrición y recetas basados en tus objetivos.
    %li Acceso a gráficas avanzadas para medir tu progreso y mejorar tu rendimiento.
  %button.btn.btn-danger Pasarme al Plan Pro