-# #carouselExampleDark.carousel.carousel.slide.positon-relative{"data-bs-ride" => "carousel"}
-#   %ol.carousel-indicators
-#     %li.active{"data-bs-slide-to" => "0", "data-bs-target" => "#carouselExampleDark"}
-#     %li{"data-bs-slide-to" => "1", "data-bs-target" => "#carouselExampleDark"}
-#     %li{"data-bs-slide-to" => "2", "data-bs-target" => "#carouselExampleDark"}
-#   .carousel-inner
-#     .carousel-item.active{"data-bs-interval" => "10000"}
-#       %img.d-block.w-100{:alt => "carousel-image-1", :src => "../planes/bg-carousel-1.png"}/
-#       .carousel-caption.d-none.d-md-block.position-absolute.top-50.start-50.translate-middle.white
-#         %h3 Acceso libre a todos los programas
-#         %p Test de intensidad para calibrar la dificultad de las sesiones y que supongan el reto adecuado.
-#     .carousel-item{"data-bs-interval" => "2000"}
-#       %img.d-block.w-100{:alt => "carousel-image-2", :src => "../planes/bg-carousel-2.png"}/
-#       .carousel-caption.d-none.d-md-block.position-absolute.top-50.start-50.translate-middle.white
-#         %h3 Gráficas
-#         %p Test de intensidad para calibrar la dificultad de las sesiones y que supongan el reto adecuado.
-#     .carousel-item
-#       %img.d-block.w-100{:alt => "carousel-image-3", :src => "../planes/bg-carousel-3.png"}/
-#       .carousel-caption.d-none.d-md-block.position-absolute.top-50.start-50.translate-middle.white
-#         %h3 Nutrición
-#         %p Test de intensidad para calibrar la dificultad de las sesiones y que supongan el reto adecuado.
-#   %a.carousel-control-prev{"data-bs-slide" => "prev", :href => "#carouselExampleDark", :role => "button"}
-#     %span.carousel-control-prev-icon{"aria-hidden" => "true"}
-#     %span.visually-hidden Previous
-#   %a.carousel-control-next{"data-bs-slide" => "next", :href => "#carouselExampleDark", :role => "button"}
-#     %span.carousel-control-next-icon{"aria-hidden" => "true"}
-#     %span.visually-hidden Next

.container
  .text-center.pt-5
    %h1 Subscripción
  %h3.centrar-texto Obtén mejores resultados en pro
  %ul.d-grid.gap-3
    %li Combina entrenamiento y nutrición para quemar grasa 10 veces más rápido.
    %li Mide tu progreso con gráficas avanzadas y consigue mejores resultados.
    %li Los usuarios PRO tienen 4 veces más posibilidades de conseguir sus objetivos.
    - if @products
      - @products.each do |product|
        .row.container-planes-pro
          %a.link{href: "#{buy_subscription_payment_page_path(product_id: product.id, program_id: @program)}", style: "width: 100%; height: 100%;"}
            %button.btn.btn-light.rounded.border-shadow{:type => "button"}
              .row
                .col.text-left
                  %p.product-name= product.name
                .col.text-right
                  %p.product-price-big= "€ #{product.price} / #{ product.yearly? ? "Año": "3 Meses"  }"
                  %p.product-price= "€ #{ product.yearly? ? (product.price.to_i / 52.0).round(2) : (product.price.to_i / 13.0).round(2) } / Semana"
    %p.centrar-texto.light-grey El plan se renueva automáticamente. Cancela la renovación en cualquier momento.

.container
  %h3.margin-bottom ¿No quieres disfrutar las ventajas de ser Pro?
  %ul.d-grid.gap-3
    %li Sesiones ilimitadas y gráficas básicas.
    %li.greyli Sin acceso a gráficas y analisis especificos de cada una de las sesiones que realizes.
    %li.greyli Sin acceso a todos los programas de entrenamiento.
    %li.greyli Sin acceso a nuestros planes de nutrición y recetas basados en tus objetivos.
    .row.container-planes-pro
      %a.link{href: "#{buy_subscription_lite_option_path(program_id: @program)}", style: "width: 100%; height: 100%;"}
        %button.btn.btn-light.rounded.border-shadow{:type => "button"}
          .row
            .col.text-left
              %p.product-name Plan Lite
              %br
            .col.text-right
              %p.product-price-big Gratuito
              %p.product-price Funcionalidades limitadas
            

-#   %div.hide-div
-#     %h2 Lo que dicen nuestros usuarios tras usar el Plan Pro...
-#     %img.img-width-100{:alt => "/", :src => "../planes/dory-testimonials 1.png"}/
-#     %p.margin-bottom-double ‘’Yo no era nada activa, nunca tenía tiempo y siempre estaba cansada. Mi hermano encontró Mammoth Hunters y desde ese momento cambió nuestras vidas. Ahora realizamos ejercicios cada día juntos, nuestra alimentación ha cambiado totalmente...
-#     %h6 Dory 

-#   .row.margin-top.hide-row
-#     .col-6.centrar-texto
-#       %img{:alt => "/", :src => "../planes/dory-testimonials 1.png"}/
-#     .col-6
-#       %h2 Lo que dicen nuestros usuarios tras usar el Plan Pro...
-#       %p.margin-bottom-double ‘’Yo no era nada activa, nunca tenía tiempo y siempre estaba cansada. Mi hermano encontró Mammoth Hunters y desde ese momento cambió nuestras vidas. Ahora realizamos ejercicios cada día juntos, nuestra alimentación ha cambiado totalmente...
-#       %h6 Dory


-#   %div.margin-left-questions
-#     %h2 Preguntas frecuentes
-#     %h5 ¿Por qué utilizar Pro?
-#     %p Me encanta esta app, la recomiendo a todo el que quiera ponerse fuerte ganando salud. La planificación de entrenos con el calendario es muy útil, en general está muy bien hecha cosa que motiva a entrenar.
-#     %h2 Preguntas frecuentes
-#     %h5 ¿Por qué utilizar Pro?
-#     %p Me encanta esta app, la recomiendo a todo el que quiera ponerse fuerte ganando salud. La planificación de entrenos con el calendario es muy útil, en general está muy bien hecha cosa que motiva a entrenar.
-#     %h2 Preguntas frecuentes
-#     %h5 ¿Por qué utilizar Pro?
-#     %p Me encanta esta app, la recomiendo a todo el que quiera ponerse fuerte ganando salud. La planificación de entrenos con el calendario es muy útil, en general está muy bien hecha cosa que motiva a entrenar.

-# #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1"}
-#   .modal-dialog
-#     .modal-content
-#       .modal-header
-#         %h5#exampleModalLabel.modal-title Modal title
-#         %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
-#       .modal-body
-#         %button.btn.btn-light.rounded.border-shadow.me-md-2.btn-size-2.display-flex.btn-margin-left{:type => "button"}
-#           = link_to @products.first.name, buy_subscription_payment_page_path(product_id: @products.first.id, program_id: @program)
-#           = @products.first.price
-#           = @products.first.store_reference
        
-#         %button.btn.btn-light.rounded.border-shadow.me-md-2.btn-size-2.display-flex.btn-margin-left{:type => "button"}
-#           = link_to @products.first.name, buy_subscription_lite_option_path(program_id: @program)
-#           USE LITE OPTION 

-# :javascript
