.container
  %h1.mb-4
    .pt-4.text-center Programas
  .row
    - @programs.each_slice(2).to_a.each do |programs_array|
      .row.container-planes-pro
        - programs_array.each do |program|
          .col{style: 'width: 100%; flex: 1;'}
            %a.link{href: "#{buy_subscription_program_detail_path(program_id: program.id)}" , style: "width: 100%; height: 100%;"}
              %button.btn-light.rounded.border-shadow.text-left{:type => "button", style: "background-color: white; background-size: cover; width: 100%; height: 100%;"}  
                %p.program-sessions-text="#{program.sessions.count} #{I18n.t('onboarding.suggested_programs.sessions')}"
                %p.program-name-text= program.name
                %p.program-char-text{style:'padding-top: 30px;'}= "#{program.max_attribute.key} : #{program.max_attribute.value}"
                %p.program-char-text{style:'padding-bot: 40px;'}= "#{program.max_attribute2.key} : #{program.max_attribute2.value}"
          
      