
.container
  .row
    .cl-sm
      %br
      %h1.text-center
        Payment
        =# I18n.t('onboarding.diagnostic.title')
        =# @product.store_reference
      .container
        = form_tag buy_subscription_subscribe_stripe_path, method: :post, id: 'subscription-form' do
          -# #card-element.MyCardElement{style: "width: 100%;"}
          .row
            .col-sm
              %p Card Number
              #card-number.MyCardElement{style: "width: 100%;"}
              %br
          .row
            .col-sm
              %p Card Expiry
              #card-expiry.MyCardElement
              %br
            .col-sm
              %p CVC
              #card-cvc.MyCardElement
          %br
          #card-errors{role: "alert"}
          %button.btn.btn-warning{type: "submit"} Pay

:javascript
  function buttonState(text, disabled){
    const button = document.querySelector('button');
    button.textContent = text;
    button.disabled = disabled;
  }
  function showCardError(event) {
    console.log('showCardError called');
    let displayError = document.getElementById('card-errors');
    if (event.error) {
      console.log('event error', event.error.message)
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  }

  function processCardPayment(event) {
    buttonState('Validating Purchase', true);
    event.preventDefault();
    var stripe = event.data.stripe;
    var cardElement = event.data.cardElement;
    var form = event.data.form;
    stripe.createToken(cardElement).then(function(result) {
      var url_string = window.location.href; //window.location.href
      var url = new URL(url_string);
      var product_id = url.searchParams.get("product_id");
      var program_id = url.searchParams.get("program_id");
      console.log('prod id', product_id);
      console.log('progid', program_id);
      // Handle result.error or result.token
      if(result.token){
        console.log('ready process card');
        console.log(result.token);
        $("<input>").attr({ 
                name: "stripe_token", 
                id: "hiddenId", 
                type: "hidden", 
                value: result.token.id }).appendTo(form);
        $("<input>").attr({ 
                name: "subscription[program_id]", 
                id: "hiddenProgramId", 
                type: "hidden", 
                value: program_id }).appendTo(form);
        $("<input>").attr({ 
                name: "subscription[product_id]", 
                id: "hiddenProductId", 
                type: "hidden", 
                value: product_id }).appendTo(form);
        
        form.submit();
      }
      else{
        console.log('handle error');
        console.log(result.error);
      }
    });
  }

  var stripe = Stripe("#{Rails.configuration.stripe[:publishable_key]}");
  var elements = stripe.elements();
  var style = {
    base: {
      color: "#32325d",
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "13px",
      "::placeholder": {
        color: "#aab7c4"
      }
    },
    invalid: {
      color: "#fa755a",
      iconColor: "#fa755a"
    }
  };
  const appearance = {
    theme: 'stripe',
    labels: 'floating',
    variables: {
      colorPrimary: '#0570de',
      colorBackground: '#ffffff',
      colorText: '#30313d',
      colorDanger: '#df1b41',
      fontFamily: 'Ideal Sans, system-ui, sans-serif',
      spacingUnit: '2px',
      borderRadius: '4px',
      // See all possible variables below
    }
  };

  var form = document.getElementById('subscription-form');
  var cardNumberElement = elements.create('cardNumber', { style: appearance });
  var cardExpiryElement = elements.create('cardExpiry', { style: appearance });
  var cardCvcElement = elements.create('cardCvc', { style: appearance });
  //var cardElement = elements.create("card", { style: style });

  //cardElement.mount("#card-element");
  cardNumberElement.mount("#card-number")
  cardExpiryElement.mount("#card-expiry");
  cardCvcElement.mount("#card-cvc")
  //cardElement.on('change', showCardError);
  cardNumberElement.on('change', showCardError);
  cardExpiryElement.on('change', showCardError);
  cardCvcElement.on('change', showCardError);

  const button = document.querySelector('button');
  //button.addEventListener('click', asyn)

  $("form").on('submit', {cardElement: cardNumberElement, stripe: stripe, form: form}, processCardPayment);

