.container
  .row
    .col-md-auto
      %h1.pt-4= "#{@program.name}"
      -# .row
      -#   .col.border.square-box{:style => "background: url(#{@program.image_url}); background-size: 100%; 100%; heigth: 100%; height: 350px; !important;"}
      -#     %p.image-space &nbsp;
      -#   -# %img.img-fluid{:alt => "/", :src => "#{@program.image_url}"}
      .row
        .col
          %p= "#{@program.sessions.count} #{I18n.t('onboarding.suggested_programs.sessions')}"
          %p= " Entrenador: #{@program.user.names}"
          %br
          %h2= I18n.t('onboarding.program_detail.youwillfind')
          .row
            %ul.d-grid.gap-3.ps-0{style: 'margin-bottom: 15px;'}
              - @program.program_characteristics.select{|c| !c.objective }.each do |characteristic|
                %li= characteristic.value
          .row
            .container
              %h2= I18n.t('onboarding.program_detail.objectives')
              %ul.d-grid.gap-3.ps-0.mb-4
                - @program.program_characteristics.select{|c| c.objective }.each do |characteristic|
                  %li= characteristic.value
          .row
            - if @program.implements.present?
              .container-equip
                %h2.centrar-texto= I18n.t('onboarding.program_detail.equipment')
                .row.gap-5.d-md-flex.justify-content-md-center.keep-flex
                  - @program.implements.uniq.each do |implement|
                    .col.square-box
                      %img.img-fluid{:alt => "/", :src => "#{implement.image_url}"}
                      %br
                      %p.text-center= implement.name

          %button.btn.btn-danger.btn-lg.rounded-pill
            = link_to I18n.t('onboarding.program_detail.select_program'), buy_subscription_choose_subscription_path(program_id: @program), { :class=>"link" }       
   
    -#   %h5= "#{@program.sessions.count} #{I18n.t('onboarding.suggested_programs.sessions')}"
    -#   %h1= @program.name
    -#   %h2.light-grey= "#{@program.user&.names || "Mammoth Hunters"}"
    -#   %h5= "#{@program.max_attribute.key} : #{@program.max_attribute.value}"
    -#   %h5= "#{@program.max_attribute2.key} : #{@program.max_attribute2.value}"
    -#   %h2= I18n.t('onboarding.program_detail.youwillfind')
    
    
    
      
    -# .col
    -#       {:style => "background: url(#{implement.image_url}); background-size: 100% 100%;"}
