   
.container
  %h1.mb-5.mt-5.text-center= I18n.t('onboarding.suggested_programs.title')
  %p.text-center.light-grey.margin-bottom
    = I18n.t('onboarding.suggested_programs.subtitle')
    %br
  .row.gx-5.white.text-left{style: 'display: flex !important;'}
    .col.b{style: 'width: 100%; flex: 1;'}
      %button.btn-light.rounded.border-shadow.text-left{:type => "button", style: "background-color: white; background-size: cover; width: 100%; height: 100%;"}  
        %a.link{href: "#{buy_subscription_program_detail_path(program_id: @programs.first.id)}", style: "width: 100%; height: 100%;"}
          %p.program-sessions-text= "#{@programs.first.sessions.count} #{I18n.t('onboarding.suggested_programs.sessions')}"
          %p.program-name-text= @programs.first.name
          %p.program-char-text= "#{@programs.first.max_attribute.key} : #{@programs.first.max_attribute.value}"
          %p.program-char-text= "#{@programs.first.max_attribute2.key} : #{@programs.first.max_attribute2.value}"
    .col.b{style: 'width: 100%; flex: 1;'}
      %button.btn-light.rounded.border-shadow.text-left{:type => "button", style: "background-color: white; background-size: cover; width: 100%; height: 100%;"}  
        %a.link{href: "#{buy_subscription_more_programs_path}", style: "width: 100%; height: 100%;"}
          %p.program-sessions-text.program-white-text &nbsp;	
          %p.program-choose-text= I18n.t('onboarding.suggested_programs.choose_another')
          %p.program-char-text.program-white-text &nbsp;	
          %p.program-char-text.program-white-text &nbsp;	
  -# #carouselExampleDark.carousel.carousel-dark.slide.positon-relative.carousel-temp-hight.border.border-shadow.margin-bottom-double.hide{"data-bs-ride" => "carousel"}
  -#   %h2.pt-12.hide
  -#     .container
  -#       = I18n.t('onboarding.suggested_programs.joinPeople')
  -#       %br/
  -#   %ol.carousel-indicators.rounded-circle.hide
  -#     %li.active{"data-bs-slide-to" => "0", "data-bs-target" => "#carouselExampleDark"}
  -#     %li{"data-bs-slide-to" => "1", "data-bs-target" => "#carouselExampleDark"}
  -#     %li{"data-bs-slide-to" => "2", "data-bs-target" => "#carouselExampleDark"}
  -#   .carousel-inner.position-absolute.top-50.start-50.translate-middle.mt-5.hide
  -#     .carousel-item.active.hide{"data-bs-interval" => "10000"}
  -#       .container
  -#         %h3 Miquel Malet
  -#         %p= I18n.t('onboarding.suggested_programs.miquelMalet')
  -#     .carousel-item{"data-bs-interval" => "2000"}
  -#       .container
  -#         %h3 Lola Ibanez
  -#         %p= I18n.t('onboarding.suggested_programs.lolaIbanez')
  -#     .carousel-item
  -#       .container
  -#         %h3 Hele Biker
  -#         %p= I18n.t('onboarding.suggested_programs.heleBiker')
  -#   %a.carousel-control-prev.hide{"data-bs-slide" => "prev", :href => "#carouselExampleDark", :role => "button"}
  -#     %span.carousel-control-prev-icon{"aria-hidden" => "true"}
  -#     %span.visually-hidden Previous
  -#   %a.carousel-control-next.hide{"data-bs-slide" => "next", :href => "#carouselExampleDark", :role => "button"}
  -#     %span.carousel-control-next-icon{"aria-hidden" => "true"}
  -#     %span.visually-hidden Next
  
    