.container
  .row.text-center
    %br
    %h1{style: 'margin-top: 10px;'} Ya está todo listo
    %p.light-grey.border-bottom.mb-5 Descargate la app para poder disfrutar de tu nuevo programa de entrenamiento.
  .row
    .col.text-center.square-box
      %img{src: 'https://stage-dev-new.s3.eu-west-1.amazonaws.com/assets/cellphone.png', style: 'width: 200px; heigth: 400px;'}
.container
  .row.text-center
    .col 
    .col
      %a.link{href: "https://apps.apple.com/es/app/mammoth-hunters-fitness-app/id901978513",}
        %button.btn.btn-light.rounded.itunes{:type => "button"}
          %img.img-fluid{:alt => "/", :src => "https://mhunters.com/wp-content/uploads/2021/02/boton-app-store.png", style: 'width: 100%; heigth: 100%;'}/
    .col
      %a.link{href: "https://play.google.com/store/apps/details?id=com.mhunters.app&hl=es&gl=ES"}
        %button.btn.btn-light{:type => "button"}
          %img.img-fluid.limit{:alt => "/", :src => "https://mhunters.com/wp-content/uploads/2021/02/boton-google-play.png", style: 'width: 100%; heigth: 100%;'}/
    .col
.container{style: 'margin-top: 15px !important;'}
  .row
    %h3.text-center Tu subscripción
    - if current_user.current_subscription.present?
      %p
        Actualmente cuentas con el 
        %b{style:"  font-weight: 15000 !important;" }= "#{current_user.current_subscription.product.name} "
        puedes disfrutar del acceso a todos nuestros programas personalizados, funcionalidades exclusivas, estadísticas y planes de nutrición."
    - else
      %p
        Actualmente cuentas con el 
        %b{style:"  font-weight: 15000 !important;" }= "Programa Free"
        puedes disfrutar del acceso a todos nuestros programas personalizados, funcionalidades exclusivas, estadísticas y planes de nutrición usando 
        %b{style:"  font-weight: 15000 !important;" }nuestros planes PRO

.container
  .nada
    - if @products
      - @products.each do |product|
        .row.container-planes-pro
          %a.link{href: "#{buy_subscription_payment_page_path(product_id: product.id, program_id: @program)}", style: "width: 100%; height: 100%;"}
            %button.btn.btn-light.rounded.border-shadow{:type => "button"}
              .row
                .col.text-left
                  %p.product-name= product.name
                .col.text-right
                  %p.product-price-big= "€ #{product.price} / #{ product.has_trial ? "Año": "3 Meses"  }"
                  %p.product-price= "€ #{ product.has_trial ? (product.price.to_i / 52.0).round(2) : (product.price.to_i / 13.0).round(2) } / Semana"
    %p.centrar-texto.light-grey El plan se renueva automáticamente. Cancela la renovación en cualquier momento desde tu perfil en la app.


  -# .row.gx-5
  -#   .col-4
  -#     = render 'program_detail', program: @program
  -#   .col-8
  -#     .container-carousel.border.border-shadow.margin-bottom.mt-0.padding-ventajas.height-cont-app
  -#       %h2.margin-bottom Rompe las barreras, te lo damos todo.
  -#       %p Tienes un programa de entrenamiento y nutrición creado específicamente para ti.
  -#       %p.margin-bottom ¡Descárgate la aplicación y empieza el cambio!
  -#       .container-planes-pro.d-grid.gap-5.d-md-flex
  -#         %button.btn.btn-light.rounded.border-shadow.me-md-2{:type => "button"}
  -#           %img.img-fluid{:alt => "/", :src => "../planes/FooterdescargaIos 1.png"}/
  -#         %button.btn.btn-light.rounded.border-shadow.me-md-2{:type => "button"}
  -#           %img.img-fluid{:alt => "/", :src => "../planes/Logo-app-Instalcion-Google-Play-Store 1.png"}/
  -#     .container-carousel.border.border-shadow.bg-image-link.padding-ventajas
  -#       %h2.margin-bottom Invita a tus amigos.
  -#       %p
  -#         ¡Ahora en Mamut Fit puedes ver las sesiones de tus
  -#         %br/
  -#         amigos! invítalos para que podáis compartir
  -#         %br/
  -#         entrenamientos y poneros nuevos retos juntos.
  -#       %input.btn.btn-light.rounded-pill.d-block.margin-bottom-20{:type => "email", :value => "www.link-mamutfit.com"}/
  -#       %button.btn.btn-danger.rounded-pill Copiar enlance
