= semantic_form_for [:admin, @product], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs 'Profile' do
    = f.semantic_errors
    = f.input :price
    = f.input :name
    = f.input :period
    = f.input :store_reference
    = f.input :store
    = f.input :available
    = f.input :has_trial
    = f.input :discount_forever, as: :boolean
    %br
    = f.input :discount_percentage
    = f.input :trial_days
    - f.has_many :discount_coupon, heading: 'Coupon' do |pr|
      .row
        .col-12.has-one
          = pr.inputs 'Coupon Data' do
            - pr.input :stripe_id
            %br
            - pr.input :discount_percentage
            %br
            - pr.input :discount_forever, as: :boolean
            %br
  = f.actions

:javascript
  var toggleManyAdd = function(e) {
    $(e.target).closest(".has_many_container").find("a.has_many_add").toggle();
  }

  // Adds the toggleManyAdd click handler to the Add and Remove buttons
  var initToggleManyAdd = function(){
    $(".has-one a[class*='has_many_']").not(".toggle-many-added").click(toggleManyAdd);
    $(".has-one a[class*='has_many_']").addClass("toggle-many-added");
  }
  initToggleManyAdd();
  $(document).on('has_many_add:after', initToggleManyAdd)

  // Hides the Add button if a `.has-one` element already exists
  $(".has-one .has_many_container").each( function(_, container) {
    if($(container).find("ol").length){ $(container).find("a.has_many_add").hide(); }
  })