
.selector-for-some-widget {
    box-sizing: content-box;
}


html {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    background: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images\ onboarding/background-onboarding-web2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Open Sans', sans-serif !important;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;

}

nav {
    text-align: center;
    background-color: rgba(46, 44, 44, 0.425);
    margin-top: 0;
}

.icon-bar {
    height: 60px;
    width: 60px;
}

.container {
    min-height: 600px;
    margin-top: 30px;
    margin-left: 50px !important;

}

.row {
    height: 100%;
}

.col {
    background-color: white;
    height: 600px;
    max-width: 550px !important;
}

@media (max-width: 991.98px) {
    .col {
        min-width: 550px;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .body {
        background-image: none !important;
    }

    nav {
        display: none !important;
    }

    .col {
        margin: 0 !important;
        height: 100% !important;
        max-width: 100% !important;
    }

    .bg-transparent {
        width: 0;
        height: 0;
    }


    .container {
        margin: 0 !important;
        max-width: 100% !important;

    }

    .container-text {
        margin-left: 10px !important;
    }

    .row {
        display: flex;
        justify-content: left;

    }

    .container {
        display: flex;
        justify-content: left;
    }


}

.round {
    border-radius: 5%;
    overflow: scroll;
}

@media (max-width: 768px) {
    .round {
        border-radius: 0%;
    }
}

.round::-webkit-scrollbar {
    display: none;
}

.round {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-text {
    margin: 20px 50px 20px 50px;
}

.btn-group {
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.btn {
    margin-right: 20px;
    margin-bottom: 10px !important;
}

.btn-primary {
    color: #474343 !important;
    background-color: #ffff !important;
    border-color: #E5E5E5 !important; /*set the color you want here*/

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffff !important;
    background-color: #ff4800 !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: 0 0 0 0.2rem #ff4800 !important;
}


.btn-primary-1 {
    color: #474343 !important;
    background-color: #ffff !important;
    border-color: transparent !important; /*set the color you want here*/
}

.btn-primary-1:hover, .btn-primary-1:focus, .btn-primary-1:active, .btn-primary-1.active, .open > .dropdown-toggle.btn-primary-1 {
    color: #474343 !important;
    background-color: transparent !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: 0 0 0 0.2rem #ff4800 !important;

}

.more-info {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;

}

.more-info-margin {
    margin-bottom: 20px;
}

input[type="date"], input[type="number"] {
    border: 0;
}

.btn img {
    width: 100px;
}

.carousel-inner img {
    max-width: 150px;
}

.carousel-control-next-icon {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//Onboarding/Images\ onboarding/bodyfat-picker/arrow\ right.png") !important;

}

.carousel-control-prev-icon {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//Onboarding/Images\ onboarding/bodyfat-picker/arrow\ left.png") !important;
}

.carousel-inner p {
    text-align: center;
}

.carousel-item {
    display: inline;
    text-align: center;
    margin-top: 10px;
}

button[type=submit] img {
    width: 25px;
}

button[type=submit] {
    display: flex !important;
    align-items: flex-end !important;
}

/* Login-general */

.centrar-texto {
    text-align: center;
}

.container-text-2 {
    margin: 70px 80px 180px 80px;
}

.round-no-scroll {
    border-radius: 5%;
}

.wide {
    width: 90%;
}

.btn-secondary {
    background-color: #3b5998;
    border-color: #9F9F9F;;
}

.btn-danger {
    background-color: #ff4800;
    border-color: #9F9F9F;;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #ffff !important;
    background-color: #6c757d !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: none !important;
}

.btn-light {
    background-color: #ffff;
    border-color: #9F9F9F;;
}

.container-text-2 img {
    width: 150px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.light-grey {
    color: #9F9F9F;
}

/* Last stage */

span {
    color: #ff4800;
}

/* Email */

.grey {
    color: #BFBFBF;;
}

input[type=text], input[type=email], input[type=password] {
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 0;
    padding-left: 0;
}

/* Diagnostic Results */

.dark-grey {
    color: #616362;
}

.p-left-0 {
    padding-left: 0;
}

.text-right {
    text-align: right;
}

.p-right-0 {
    padding-right: 0;
}
