.container
  .row
    .col-sm.container-text
      .row
        .col.ml-2.mr-2
          .container-text
            %h1.centrar-texto.mb-5.pt-3.pb-3.mt-5= I18n.t('onboarding.diagnostic_results.title')
            .row
              %h2.light-grey= I18n.t('onboarding.diagnostic_results.physical_evaluation')
            .row.pb-3
              %h3.col-6
              %h3.col-3.text-warning.text-right= I18n.t('onboarding.diagnostic_results.actual')
              %h3.col-3.text-danger.text-right.p-right-0= I18n.t('onboarding.diagnostic_results.ideal')
            .row.pb-3
              %h4.col-6.dark-grey.border-bottom.p-left-0.pb-3= I18n.t('onboarding.diagnostic_results.weight')
              %h4.col-3.centrar-texto.border-bottom.text-right
                = @diagnostic[:weight]
                Kg
              %h4.col-3.centrar-texto.border-bottom.text-right.p-right-0
                = @diagnostic[:ideal_weight]
                Kg
            .row.pb-3
              %h4.col-6.dark-grey.border-bottom.p-left-0.pb-3= I18n.t('onboarding.diagnostic_results.bmi')
              %h4.col-3.centrar-texto.border-bottom.text-right
                = @diagnostic[:bmi]
              %h4.col-3.centrar-texto.border-bottom.text-right.p-right-0
                = @diagnostic[:target_bmi]
            .row.pb-3
              %h4.col-6.dark-grey.border-bottom.p-left-0.pb-3= I18n.t('onboarding.diagnostic_results.body_fat')
              %h4.col-3.centrar-texto.border-bottom.text-right
                = @diagnostic[:body_fat]
                &#37
              %h4.col-3.centrar-texto.border-bottom.text-right.p-right-0
                = @diagnostic[:target_body_fat]
                &#37
            .row.margin-bottom.pb-2
              %h4.col-6.dark-grey.p-left-0.pb-2= I18n.t('onboarding.diagnostic_results.muscle_weight')
              %h4.col-3.centrar-texto.text-right
                = @diagnostic[:muscle_weight]
                Kg
              %h4.col-3.centrar-texto.text-right.p-right-0
                = @diagnostic[:ideal_muscle_weight]
                Kg
            .row.pb-3.mb-2
              %h2.mt-5.light-grey= I18n.t('onboarding.diagnostic_results.objectives')
            .row.pb-3
              %h4.col-6.dark-grey.border-bottom.p-left-0.pb-3= I18n.t('onboarding.diagnostic_results.fat_to_loose')
              %h4.col-3.border-bottom
              %h4.col-3.text-right.border-bottom.text-right.p-right-0
                = @diagnostic[:fat_to_lose]
                Kg
            .row.pb-3
              %h4.col-6.dark-grey.border-bottom.p-left-0.pb-3= I18n.t('onboarding.diagnostic_results.muscle_to_gain')
              %h4.col-3.border-bottom
              %h4.col-3.text-right.border-bottom.text-right.p-right-0
                = @diagnostic[:muscle_to_gain]
                Kg
            .row.pb-3
              %h4.col-9.dark-grey.border-bottom.p-left-0.pb-3= I18n.t('onboarding.diagnostic_results.target_calories')
              %h4.col-3.border-bottom.text-right.p-right-0
                = @diagnostic[:target_calories]
                Kcal
            .row.pb-3
              %h4.col-8.dark-grey.p-left-0= I18n.t('onboarding.diagnostic_results.weeks_to_target')
              %h4.col-4.text-right.p-right-0
                = @diagnostic[:weeks_to_target_round]
                weeks

      %form.float-right.float-down.ml-5.mt-5{:action=>"#{buy_subscription_suggested_programs_path}"}
        %button.btn.btn-primary.rounded-circle.grey-background{:type=>"submit"}
          %img.btn_button_to_buy_subscription{:alt => "submit_img", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/arrow-right-2.png"}/

