-# :javascript
-#   (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
-#   for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
-#   MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
  
-#   // Enabling the debug mode flag is useful during implementation,
-#   // but it's recommended you remove it for production
-#   mixpanel.init('745581c49f04c81ecf450cceeea8a514', {debug: true}); 
-#   //mixpanel.track('Sign up');
.container
  .row-fluid
    .col-sm-1
    .col-sm-auto
      %h1.mt-5.text-center= I18n.t('onboarding.diagnostic.title')
      %p.light-grey.mb-2.text-center=I18n.t('onboarding.diagnostic.paragraph-1')
      %p.light-grey.border-bottom{style: 'margin-bottom: 10px; margin-top: 40px;'}
      = form_for(@user, url: onboarding_sign_up_options_path) do |f|
        %ul.stepper.parallel.vertical.stepper_style
          %li.step.active.mb-1.color_step
            .step-title.waves-effect.waves-dark.pb-1.pt-1
              = I18n.t('onboarding.diagnostic.objective')
            .step-content
              .btn-group-toggle{"data-toggle" => "buttons"}
                %label.btn.btn-primary.rounded-pill.btn_size
                  = f.radio_button :goal, :loss_weight, :required => true
                  = I18n.t('onboarding.diagnostic.loose_weight')
                %label.btn.btn-primary.rounded-pill.btn_size
                  = f.radio_button :goal, :gain_muscle
                  = I18n.t('onboarding.diagnostic.gain_muscle')
                %label.btn.btn-primary.rounded-pill.btn_size
                  = f.radio_button :goal, :antiaging
                  = I18n.t('onboarding.diagnostic.antiaging')

          %li.step.active.mb-1.color_step
            .step-title.waves-effect.waves-dark.pb-1.pt-1
              = I18n.t('onboarding.diagnostic.physical_activity')
            .step-content
              .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                %label.btn.btn-primary.rounded-pill.btn_size
                  = f.radio_button :activity_level, :sedentary, :required => true
                  = I18n.t('onboarding.diagnostic.sedentary')
                %label.btn.btn-primary.rounded-pill.btn_size
                  = f.radio_button :activity_level, :medium_active
                  = I18n.t('onboarding.diagnostic.active')
                %label.btn.btn-primary.rounded-pill.btn_size
                  = f.radio_button :activity_level, :very_active
                  = I18n.t('onboarding.diagnostic.very_active')

          %li.step.active.mb-1.color_step1
            .step-title.waves-effect.waves-dark.pb-1.pt-1
              = I18n.t('onboarding.diagnostic.gender')
            .step-content
              .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                %label.btn.btn-primary.rounded-pill.btn_size{:id=>"male_button"}
                  = f.radio_button :gender, :male, :required => true
                  = I18n.t('onboarding.diagnostic.male')
                %label.btn.btn-primary.rounded-pill.btn_size{:id=>"female_button"}
                  = f.radio_button :gender, :female
                  = I18n.t('onboarding.diagnostic.female')

          %li.step.active.mb-1.color_step
            .step-title.waves-effect.waves-dark.pb-1.pt-1
              = I18n.t('onboarding.diagnostic.more_info')
            .step-content
              .more-info.mb-3.md-form.md-outline.input-with-post-icon.datepicker.border-bottom
                .row
                  .col
                    %label.light-grey{:for => "fecha"}= I18n.t('onboarding.diagnostic.date_of_birth')
                  .col.text-right
                    = f.date_select :date_of_birth, :start_year => Date.current.year, :end_year => 1920, :required => true, style: 'margin-bottom: 10px; margin-right:5px;'

              .more-info.mb-3.border-bottom
                .row
                  .col
                    %label.light-grey{:for => "peso"}= I18n.t('onboarding.diagnostic.weight')
                  .col.text-right
                    = f.text_field :weight, {  required: true, style: 'margin-bottom: 10px;margin-right:5px;' }
                    Kg

              .more-info.more-info-margin.border-bottom
                .row
                  .col
                    %label.light-grey{:for => "altura"}= I18n.t('onboarding.diagnostic.height')
                  .col.text-right
                    = f.text_field :height, { required: true, style: 'margin-bottom: 10px; margin-right:5px;'  }
                    cm

          %li.step.active.mb-1.color_step
            .step-title.waves-effect.waves-dark.pb-1.pt-1
              = I18n.t('onboarding.diagnostic.body_type')
            .step-content
              .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                %label.btn.btn-primary-1.rounded
                  = f.radio_button :body_type, :strong, :required => true
                  %img{:alt => "", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/Grande.svg"}/
                  %br/
                  = I18n.t('onboarding.diagnostic.big')
                %label.btn.btn-primary-1.rounded
                  = f.radio_button :body_type, :medium
                  %img{:alt => "", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/Mediana.svg"}/
                  %br/
                  = I18n.t('onboarding.diagnostic.medium')
                %label.btn.btn-primary-1.rounded
                  = f.radio_button :body_type, :lean
                  %img{:alt => "", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/Pequeña.svg"}/
                  %br/
                  = I18n.t('onboarding.diagnostic.lean')

          %li.step.active.mb-1.color_step
            .step-title.waves-effect.waves-dark.pb-1.pt-1
              = I18n.t('onboarding.diagnostic.body_fat')
            .step-content
              #carouselExampleIndicators.carousel.slide{"data-interval" => "false", "data-ride" => "carousel"}
                .carousel-inner
                  .carousel-item.active.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 10, :required => true
                      %img{:alt => "First slide",:id=>"gender_photo0", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_1-b4e1c88fc4c1a82e8ccfebb11a8b9d32_10.jpg"}/
                      %br/
                      10 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 15
                      %img{:alt => "Second slide",:id=>"gender_photo1", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_2-dfb0ad44bb4894cff38f7f5589405a09.jpg"}/
                      %br/
                      15 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 20
                      %img{:alt => "Third slide", :id=>"gender_photo2", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_3-69602966b4159c1cb6683273a7ca2dca.jpg"}/
                      %br/
                      20 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 25
                      %img{:alt => "Third slide", :id=>"gender_photo3", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_4-80e2fb318f88d2996ee2ae9269d178a9.jpg"}/
                      %br/
                      25 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 30
                      %img{:alt => "Third slide", :id=>"gender_photo4", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_5-4ab4324c674970bc37b90cea8937a758.jpg"}/
                      %br/
                      30 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 35
                      %img{:alt => "Third slide", :id=>"gender_photo5", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_6-2d17cab506810fb0e2b7878aafa4e969.jpg"}/
                      %br/
                      35 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 40
                      %img{:alt => "Third slide", :id=>"gender_photo6", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_7-a93fe7cb6bc167ad7bdbaeba8b759391.jpg"}/
                      %br/
                      40 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 45
                      %img{:alt => "Third slide", :id=>"gender_photo7", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_8-391c79f7b6987f8495eb7b413ccc8af4.jpg"}/
                      %br/
                      45 %
                  .carousel-item.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                    %label.btn.btn-primary-1.rounded.active
                      = f.radio_button :body_fat, 50
                      %img{:alt => "Third slide", :id=>"gender_photo8", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_9-ced322ab38b3ee28dbe60cff81733f47_50.jpg"}/
                      %br/
                      50 %

                %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
                  %span.carousel-control-prev-icon{"aria-hidden" => "true"}
                  %span.sr-only Previous

                %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
                  %span.carousel-control-next-icon{"aria-hidden" => "true"}
                  %span.sr-only Next

            %p.light-grey.border-bottom{style: 'margin-bottom: 30px; margin-top: 40px;'}
            .d-grid.gap-2.d-md-flex.justify-content-md-end
              %button.btn.btn-primary.rounded-circle.me-md-2.grey-background{:type => "submit"}
                %img{:alt => "submit_img", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/arrow-right-2.png"}/
    .col-sm-1