.container
  .row
    %h1.mb-4.mt-5= I18n.t('onboarding.new_sign_up.title')
    %form.needs-validation{:novalidate => ""}
    = form_for(@user, url: onboarding_sign_up_path) do |f|

      = f.hidden_field :gender
      = f.hidden_field :goal
      = f.hidden_field :activity_level
      = f.hidden_field :gender
      = f.hidden_field :weight
      = f.hidden_field :height
      = f.hidden_field :body_fat
      = f.hidden_field :body_type
      = f.hidden_field :date_of_birth
      = f.hidden_field :mix_panel_id, value: @mix_panel_id

      - if @user.errors.any?
        - @user.errors.full_messages.each do |message|
          %h3.text-danger= message
      %h2.form-group
        %label.grey.wide{:for => "name"}= I18n.t('onboarding.new_sign_up.name')
        = f.text_field :names, { class: 'wide', required: true }
        .invalid-feedback.margin-bottom
          Introduce nombre y apellidos por favor
        .p.help_text_color=I18n.t('onboarding.new_sign_up.help_name_text')
      %h2.form-group
        %label.grey.wide{:for => "email"}= I18n.t('onboarding.new_sign_up.email')
        = f.email_field :email, { class: 'wide', required: true }
        .invalid-feedback.margin-bottom
          Introduce un email válido por favor
        .p.help_text_color=I18n.t('onboarding.new_sign_up.help_email_text')

      %h2.form-group
        %label.grey.wide{:for => "password"}= I18n.t('onboarding.new_sign_up.password')
        .input-group
          = f.password_field :password, { class: 'wide', id: 's-h-pass', minlength:"6", required:'true'}
          .invalid-feedback.margin-bottom
            Introduce una contraseña válida por favor
        .p.help_text_color.mb-2=I18n.t('onboarding.new_sign_up.help_password_text')

      %h4.form-check{style: 'margin-top: 40px;'}
        %input#notifications.form-check-input.form_check_size{:type => "checkbox"}/
        %label.form-check-label.mb-4.ml-2{:for => "notifications"}= I18n.t('onboarding.new_sign_up.updates')
      %h4.form-check
        %input#terms.form-check-input.form_check_size{:required => "", :type => "checkbox"}/
        %label.form-check-label.mb-4.ml-2{:for => "terms"}= I18n.t('onboarding.new_sign_up.terminos')
      %h4.form-check
        %input#estudios.form-check-input.form_check_size{:type => "checkbox"}/
        %label.form-check-label.mb-4.ml-2{:for => "estudios"}= I18n.t('onboarding.new_sign_up.estudios')
      .d-grid.gap-2.d-md-flex.justify-content-md-end
      .row
        .col.text-left
          %button.btn.btn-danger.btn-lg.btn-block.rounded-pill.wide.fs-6.margin-bottom.btn_dimensions.mb-4{:type => "submit"}
            %h3 Crear Cuenta


