.container.align-middle
  .row
    .col-sm-1
    .col-sm-20.round-no-scroll.text-center
      .container-text-2{style: 'margin-top:27%; margin-bottom: 50%;'}
        %img{:alt => "icon_login", :src => "https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/icon_login.png"}/
        %h1.margin-bottom{style:'margin-bottom: 40px;'}= I18n.t('onboarding.sign_up_options.title')
        = form_for(@user, url: onboarding_new_sign_up_path) do |f|

          = f.hidden_field :gender
          = f.hidden_field :goal
          = f.hidden_field :activity_level
          = f.hidden_field :weight
          = f.hidden_field :height
          = f.hidden_field :body_fat
          = f.hidden_field :body_type
          = f.hidden_field :date_of_birth

          %h3.light-grey.margin-bottom.mb-5=I18n.t('onboarding.sign_up_options.paragraph-1')
          %div
            -# .btn.btn-light.btn-lg.rounded-pill.wide.fs-6.margin-bottom.btn_dimensions.mb-4
            -#   =link_to I18n.t('onboarding.sign_up_options.google'), user_google_oauth2_omniauth_authorize_path( "user[gender]" => @user.gender, "user[goal]" => @user.goal, "user[activity_level]" => @user.activity_level, "user[weight]" => @user.weight, "user[height]" => @user.height, "user[body_fat]" => @user.body_fat, "user[body_type]" => @user.body_type, "user[date_of_birth]" => @user.date_of_birth ), method: :post, :style=>'color: black;'

            -# .btn.btn-secondary.btn-lg.rounded-pill.wide.fs-6.margin-bottom.btn_dimensions.mb-4{:type => "submit"}
            -#   = link_to I18n.t('onboarding.sign_up_options.facebook'), user_facebook_omniauth_authorize_path( "user[gender]" => @user.gender, "user[goal]" => @user.goal, "user[activity_level]" => @user.activity_level, "user[weight]" => @user.weight, "user[height]" => @user.height, "user[body_fat]" => @user.body_fat, "user[body_type]" => @user.body_type, "user[date_of_birth]" => @user.date_of_birth ), method: :post, :style=>'color: white;'

            %button.btn.btn-danger.btn-lg.btn-block.rounded-pill.wide.fs-6.margin-bottom.btn_dimensions.mb-4{style: 'margin-top: 70px;', :type => "submit"}
              %h3.margin-bottom=I18n.t('onboarding.sign_up_options.email')


    .col-sm-1