= semantic_form_for [:admin, @implement], builder: ActiveAdmin::FormBuilder do |f|
  %br
  = f.semantic_errors
  = f.input :name_en
  = f.input :name_es
  %br
  - if f.object.id.present? && f.object.image.present?
    = image_tag(f.object.image_url)
  %br
  %br
  = f.input :image, as: :file
  = f.actions