// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

//Active Admin's got SASS!  estas variables van arriba para hacer el overide de colores
$am-theme-primary: #00689f;
// $am-theme-accent: #7dd2f7;
// $am-theme-accent-fallback: #ff7547;
$primary-color: #00689f !default;
// $primary-gradient: none;

@import "bootstrap";
@import "active_admin/mixins";
@import "active_admin/base";
//@import "active_bootstrap_skin";
// a fix could be using zurb wich has different classes or rename the col in admin



// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
