.selector-for-some-widget {
    box-sizing: content-box;
}
.square-box {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
/* Utilities */

.white {
    color: white !important;
}

.light-grey {
    color: #9F9F9F;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.margin-bottom-double {
    margin-bottom: 80px;
}

.margin-top {
    margin-top: 100px !important;  /* No deberia */
}

.margin-right {
    
}

.center {
    margin: auto;
}

.display-flex {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: end;
}

/* Main */

body {
    font-family: 'Open Sans', sans-serif !important;
}

ul {

    list-style-type: none;
    font-size: 13px;
  }
  
  
  ul li:before {
  
    content: '';
  
    display: inline-block;
  
    height: 24px;
  
    width: 30px;
  
    background-size: 30px;
  
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/assets/orange-tick.png");
  
    background-repeat: no-repeat;
  
    margin-right: 10px;
    
  }

  ul li.greyli:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 85% 85%;
    background-image: url("https://stage-dev-new.s3.eu-west-1.amazonaws.com/assets/graycircle.png")  !important;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 7px;

  }

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;

}

nav {
   text-align: center;
   background-color: #2B2B2B;
   ;
   margin-top: 0;
   
}

.icon-bar {
    height: 60px;
    width: 60px;
}

.margin-bottom-h2-boxes {
    margin-bottom: 200px;
}

/* background-images boxes */

.bg-image-3 {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding//planes/barbells-dumbbells-equipment-669584\ 1.png");
}

.border {
    border-radius: 7%;
    border-style: solid;
    border-width: medium;

}

.border-shadow {
    box-shadow: 0px 6px 17px 6px rgba(0, 0, 0, 0.17);
}

.container-carousel {
    margin-top: 50px;
}

.container-carousel h2 {
    margin-top: 30px;
}

.carousel-temp-hight {
    height: 400px;
}

.carousel {
    font-family: 'Open Sans', sans-serif !important;  /* No funciona */
}

.link {
    text-decoration: none !important;
    color: white !important;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

/* Plane_2 */

.margin-bottom-20 {
    margin-bottom: 20px;
}



/* Plane_3 */

.col-6 h2 {
    margin-bottom: 20px;
}

.col-6 h5 {
    margin-bottom: 40px;
}



.container-objetivos {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.margin-text-objetivos {
    padding: 50px 0 50px 150px;
}

.margin-text-objetivos h2 {
    margin-bottom: 20px;
}

.btn-danger {
    background-color: #FF4622 !important;
    border-color: transparent !important;
    
}

.container-equip {
    margin-bottom: 100px;
}

.container-equip h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-size {
    width: 248px;
}

.btn-light {
    background-color: white !important;
    border: 1px solid #E5E5E5 !important;
}

/* Plane 4 */

.nav-plane-4 {
    background-color: rgba(43, 43, 43, 0.74);

}

.margin-text-resultados-pro {
    padding: 50px 100px 50px 100px;
}

.container-planes-pro h2 {
    margin-top: 0;
}

.container-planes-pro {
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}

.btn-size-2 {
    width: 399px;
    height: 108px;
}

.padding-ventajas {
    padding-left: 50px;
}

/* Plane 5 */

.zero-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-image-link {
    height: 320px;
    background-repeat: no-repeat;
   
}

.height-cont-app {
    height: 320px;
}

@media (max-width: 991.98px) {
    .btn-margin-left {
        margin-left: 10px;
    }

    .remove-flex {
        display: grid !important;
    }

    .hide-row {
        visibility: hidden;
        height: 0;
    }
}

@media (min-width: 991.98px) {
    .hide-div {
        visibility: hidden;
        height: 0;
    }
}




@media (max-width: 767.98px) {
    .media-0-width {
        width: 0 !important;
    }

    .width-100 {
        width: 100% !important;
    }

    .margin-top-box-3 {
        margin-top: 30px !important;
    }

    .remove-margin-top {
        margin-top: 10px !important;
    }

    .keep-flex {
        display: flex !important;
        justify-content: center;
    }

    .no-shadow {
        box-shadow: none;
    }

    #no-border {
        border: 1px solid white !important;
    }

    .margin-text-resultados-pro {
        padding: 0;
    }

    .container {
        margin: 0 !important;
        max-width: 100% !important;
    }
    

}

@media (max-width: 580px) {
    .margin-phone{
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .hide {
        visibility: hidden;
        height: 0;
        margin-bottom: 0;
    }

    .row.gx-5.white.text-left {
        margin-bottom: 0;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }

    .margin-left-right {
        margin-left: 20px;
        margin-right: 20px
    }

    .rect-box {
        margin-left: 10px;
        height: 250px;
    }

    .col {
        margin-right: 10px;
    }

    .remove-margin-top {
        margin-left: 10px !important;
        margin-bottom: 30px;
    }

    .margin-text-objetivos {
        padding: 0;
        margin-left: 10px;
    }

    .container-objetivos {
        background-image: none;
    }

    .btn-size {
        width: 150px
    }

    .btn-size-2 {
        width: 100%;
    }

    .img-width-100 {
        width: 100%;
    }

    ul {
        padding-left: 10px !important;
        margin-bottom: 40px !important;
    }

    .btn-margin-left {
        margin-right: 10px;
    }

    .btn-margin-right {
        margin-left: 10px;
    }

    .hide-row {
        margin: 0 !important;
    }

    .padding-ventajas {
        padding: 0;
        margin-top: 0;
    }

    #no-padding {
        padding-left: 0 !important;
    }

    .margin-left-questions {
        margin-left: 10px;
    }
}

@media (min-width: 580px) {

    .hide-2 {
        visibility: hidden;
        height: 0;
        margin-bottom: 0;
    }    
}

.MyCardElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

/* Variables */
* {
    box-sizing: border-box;
  }
  
  
  
  form {
    /* width: 30vw;
    min-width: 300px;
    align-self: center; */
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
  }
  
  .hidden {
    display: none;
  }
  
  #payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
  }
  
  #payment-element {
    margin-bottom: 24px;
  }
  
  /* Buttons and links */
  button {
    background: #5469d4;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
  }
  button:hover {
    filter: contrast(115%);
  }
  button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  
  /* spinner/processing state, errors */
  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }
  
  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.program-sessions-text{
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 0 !important;
    margin-left: 3px;
    color: black !important;
    text-decoration: none !important;
}
.program-white-text {
    color: white !important;
}
.program-choose-text{
    font-size: 13px;
    margin-bottom: 100px;
    margin-left: 3px;
    color: black !important;
    text-decoration: none !important;
}
.program-name-text{
    display: -webkit-box;
    min-height: 20%;
    margin-bottom: 60px;
    overflow: hidden;
    -webkit-box-orient: vertical;  
    font-size: 13px;
    margin-left: 3px;
    color: black !important;
    text-decoration: none !important;
}
.program-char-text{
    font-size: 8px;
    margin-bottom: 2px !important;
    margin-left: 3px;
    color: black !important;
    text-decoration: none !important;

}
.product-name{
    font-size: 16px;
    margin-right: 5px;
    margin-top: 25px;
}
.product-price-big{
    font-size: 16px;
    margin-right: 5px;
    margin-top: 5px;
}
.product-price{
    color: lightgray;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}
.product-free {
    font-size: 14px;
    margin-right: 5px;
    margin-top: 3px;
}

.playstore {
  background: url("https://mhunters.com/wp-content/uploads/2021/02/boton-google-play.png") ;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  padding-bottom: 2px;
  width: 100%;
}

.limit{
    width: 300px;
    height: 500px;
    max-height: 500px;
    overflow: hidden;
 }
.limit img{
   width: 100%;
   height: 100%;
 }