/*// Place all the styles related to the Onboarding controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: https://sass-lang.com/*/


.selector-for-some-widget {
    box-sizing: content-box;
}


html {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    /* background: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images\ onboarding/background-onboarding-web2.jpg") no-repeat center center fixed; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    font-family: 'Open Sans', sans-serif !important;
    color: #2b2b2b !important;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;

}

nav {
    text-align: center;
    background-color: rgba(46, 44, 44, 0.425);
    margin-top: 0;
}

.icon-bar {
    height: 60px;
    width: 60px;
}

/* .container {
    min-height: 600px;
    margin-top: 30px;
    margin-left: 50px !important;

} */

/* .row {
    height: 100%;
}

.col {
    background-color: white;
    height: 600px;
    max-width: 550px !important;
} */


.round {
    border-radius: 5%;
    overflow: scroll;
}


/* .container-text {
    margin: 20px 20px 20px 20px;
} */

/* .btn-group {
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;
} */


.btn-primary {
    color: #474343 !important;
    background-color: #ffff !important;
    border-color: #E5E5E5 !important; /*set the color you want here*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffff !important;
    background-color: #ff4800 !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: 0 0 0 0.2rem #ff4800 !important;
}


.btn-primary-1 {
    color: #474343 !important;
    background-color: #ffff !important;
    border-color: transparent !important; /*set the color you want here*/
}

.btn-primary-1:hover, .btn-primary-1:focus, .btn-primary-1:active, .btn-primary-1.active, .open > .dropdown-toggle.btn-primary-1 {
    color: #474343 !important;
    background-color: transparent !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: 0 0 0 0.2rem #ff4800 !important;

}

@media (max-width: 480px) {
    .row {
        height: 812px !important;
    }
}

.fullscreen {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

/* .more-info {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;

}

.more-info-margin {
    margin-bottom: 20px;
} */

input[type="date"], input[type="number"] {
    border: 0;
}

.btn img {
    width: 100px;
}

.carousel-inner img {
    max-width: 150px;
}

.carousel-control-next-icon {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images\ onboarding/bodyfat-picker/arrow\ right.png") !important;

}

.carousel-control-prev-icon {
    background-image: url("https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images\ onboarding/bodyfat-picker/arrow\ left.png") !important;
}

.carousel-inner p {
    text-align: center;
}

.carousel-item {
    text-align: center;
    margin-top: 100px;
}

button[type=submit] img {
    width: 35px;
    height: 45px;
}

.grey-background {
    background-color: #E5E5E5 !important;
}

/* Login-general */

.centrar-texto {
    text-align: center;
}

.container-text-2 {
    margin: 70px 80px 180px 80px;
}

.round-no-scroll {
    border-radius: 5%;
}

.wide {
    width: 90%;
}
.btn {
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-secondary {
    background-color: #3b5998 !important;
    border-color: #9F9F9F !important;
    font-family: 'Nunito', sans-serif;

}

.btn-danger {
    background-color: #ff4800 !important;
    border-color: #9F9F9F !important;
    border-color: transparent !important;
    font-family: 'Nunito', sans-serif;

}

.btn-light {
    background-color: #ffff !important;
    border-color: #9F9F9F !important;
    font-family: 'Nunito', sans-serif;
    border-color: #E5E5E5 !important;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #ffff !important;
    background-color: #6c757d !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: none !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    color: #ffff !important;
    background-color: #6c757d !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: none !important;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open > .dropdown-toggle.btn-light {
    color: #ffff !important;
    background-color: #6c757d !important;
    border-color: transparent !important; /*set the color you want here*/
    box-shadow: none !important;
}

.container-text-2 img {
    width: 150px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.light-grey {
    color: #9F9F9F;
}

/* Last stage */

span {
    color: #ff4800;
}

/* Email */

.grey {
    color: #BFBFBF;;
}

input[type=text], input[type=email], input[type=password] {
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    margin-top: 10px;
    border-radius: 0;
    padding-left: 0;
}

input[type="checkbox"]:checked {
    color: #ff4800 !important;
}


/* Diagnostic Results */

.dark-grey {
    color: #616362;
}

.p-left-0 {
    padding-left: 0 !important;
}

.text-right {
    text-align: right;
}

.p-right-0 {
    padding-right: 0 !important;
}

/*diagnostic page*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

.step {
   position: relative;
   min-height: 50px;
   margin-bottom: 90px;
   margin-top: 40px;
}

/*.step > div:first-child {*/
/*    position: static;*/
/*    height: 0;*/
/*}*/

/*.step > div:last-child {*/
/*    margin-left: 32px;*/
/*    padding-left: 16px;*/
/*}*/

.circle {
    background: #4285f4;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    color: white;
    text-align: center;
}

.line {
    position: absolute;
    border-left: 1px solid gainsboro;
    left: 16px;
    bottom: 10px;
    top: 42px;
}

.step:last-child .line {
    display: none;
}
.step-title{
   margin-bottom: 25px !important;
}

.step-title{
    margin-top: 25px;
 }

.title {
    line-height: 32px;
    font-weight: bold;
}

/*diagnostic_page*/
.btm_margin{
    margin-top: 70px;
}

.stepper_style{
    list-style-type: none;
}


/*sign_up_options*/

.btn_dimensions {
    /*position: absolute;*/
    width: 336px;
    height: 50px;
    left: 195px;
    /*top: 613px;*/

    background: #3B5999;
    border-radius: 25px;
}

.img_dimensions {
    position: absolute;
    width: 121.73px;
    height: 129.41px;
    left: 302px;
    top: 192px;

    background: rgba(255, 143, 0, 0.25);
}

/*new_sign_up*/
.delete_scroll{
    overflow-x: hidden;
    overflow-y: hidden;
}
.raz {
    text-align: right;
}

.help_text_color{
    color: #FF8F00;
}

.form_check_size{
    width: 18px;
    height: 18px;
}
/*css*/


ul.stepper .step.active:before, ul.stepper .step.done:before {
    width: 17px;
    height: 17px;
    background-color: #FF8F00;
}
ul.stepper .step.done:before {
    /* content: '\e5ca'; */
    font-size: 16px;
    background: #FF4622;
    font-family: 'Material Icons';
}
ul.stepper .step:before {
    position: absolute;
    /*top: 12px;*/
    /*counter-increment: section;*/
    content: '';
    width: 17px;
    height: 17px;
    color: white;
    background: #E5E5E5;
    border-radius: 50%;
    text-align: center;
    /*line-height: 28px;*/
    font-weight: 400;
}