- if user.is_pro
  %h1 PRO
- else
  %h1 FREE
%table.table-bordered
  %thead
    %tr
      %th Attribute
      %th Value
  %tbody.text-left
    - user.attributes.each do |attribute|
      %tr
        %td
          %b= attribute.first.humanize
        %td= attribute.second