= semantic_form_for [:admin, @user], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs 'User  Data' do
    = f.semantic_errors
    = f.input :email
    = f.input :affiliate_code
    = f.input :gender
    = f.input :date_of_birth
    = f.input :activity_level
    = f.input :goal
    = f.input :body_type
    = f.input :body_fat
    = f.input :height
    = f.input :weight
    = f.input :updated_at
    = f.input :created_at
    = f.input :newsletter_subscription
    %br
    = f.input :names
    = f.input :last_name
    = f.input :facebook_uid
    = f.input :workout_setting_voice_coach
    = f.input :workout_setting_sound
    = f.input :workout_setting_vibration
    = f.input :workout_setting_mobility
    = f.input :workout_setting_cardio_warmup
    = f.input :workout_setting_countdown
    = f.input :scientific_data_usage
    = f.input :notifications_setting
    %br
    %br
    = f.input :training_days_setting, collection: [*1..7]
    = f.input :language
    = f.input :country, as: :string
    = f.input :points
    = f.input :t1_push                       
    = f.input :t1_core                       
    = f.input :t1_legs                       
    = f.input :t1_full                       
    = f.input :t1_push_exercise              
    = f.input :t1_pull_up                    
    = f.input :t2_reps                       
    = f.input :t2_steps                      
    = f.input :t2_reps_push                  
    = f.input :t2_reps_core                  
    = f.input :t2_reps_legs                  
    = f.input :t2_reps_full                  
    = f.input :t2_time_push                  
    = f.input :t2_time_core                  
    = f.input :t2_time_legs                  
    = f.input :t2_time_full                  
    = f.input :t1_full_exercise              
    = f.input :t1_pull_up_exercise
  = f.actions