.row
  .col-8
    .tabs
      %ul.nav.nav-tablist
        %li
          = link_to 'Details', '#details'
        %li 
          = link_to 'User programs', '#user_programs'
        %li 
          = link_to 'Subscriptions', '#subscriptions'
      .tab-content
        .details{ id: 'details' }
          .container
            = render partial: 'admin/users/attributes', locals: { user: user }
        .user_programs{ id: 'user_programs'}
          .container
            %h1 
              User Programs Info
            - user.user_programs.each do |up|
              = "PROGRAMA: #{up.program.name}, ID: #{up.program.id}, CODENAME: #{up.program.code_name}"
              %br
            %h3=link_to( "CURRENT PROGRAM id: #{user.current_program&.id} - #{user.current_program&.name}", admin_programs_path(user.current_program))
            %h1 EXECUTIONS
            - user.last_week_executions.each do |execution|
              =  link_to "destroy execution #{execution.id}: #{execution.session.name} : #{execution.created_at}", destroy_execution_admin_user_path(id: user.id, execution_id: execution.id)
              %br
        .subscriptions{ id: 'subscriptions'}
          .container
            = render partial: 'admin/users/subscriptions', locals: { user: user }
   
  .col-4= render partial: 'admin/versions/index', locals: { versions: user.versions.last(5) }