%h2 subs data
= semantic_form_for [:admin, user], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs 'Subs data' do
    = f.semantic_errors
    - f.has_many :subscriptions, heading: 'subscriptions' do |sb|
      - sb.semantic_errors
      - sb.input :product, input_html: {required: true}, required: true   
      - sb.input :program
      - sb.input :transaction_body
      - sb.input :status
      - sb.input :start_date
      - sb.input :end_date
      - sb.input :cancelled
      %br
      - #sb.store_metadata      :jsonb
      - sb.input :cancellation_reason
      - sb.input :created_at
      %br
    = f.actions
  