<!DOCTYPE html>
<html>
  <head>
    <title>Mhunters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-1.12.4.min.js' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <%= javascript_include_tag "application" %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"></head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
  <nav>
      <img class="icon-bar" src="https://stage-dev-new.s3-eu-west-1.amazonaws.com/assets/mh-icon.png" alt="mh-icon">
   </nav>


    <%= yield %>

  </body>
</html>
