<!DOCTYPE html>
<html>
  <head>
    <title>Mhunters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <%= javascript_include_tag "application" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!--    stepper-->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/materialize-stepper@2.1.4/materialize-stepper.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Materializecss compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- jQueryValidation Plugin -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>


    <%= stylesheet_link_tag 'onboarding', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"></head>
    <script type="text/javascript">
        (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);

        // Enabling the debug mode flag is useful during implementation,
        // but it's recommended you remove it for production
        mixpanel.init('745581c49f04c81ecf450cceeea8a514', {debug: true}); 
        // mixpanel.track('Sign Up', {
        // 'source': "Pat's affiliate site",
        // 'Opted out of email': true,
        // });
    </script>

  </head>

  <body>
   
    <%= yield %>

    <div class='container'>
        <% if user_signed_in? %>
            <p class="navbar-text">
                Has iniciado sesión como <strong><%= current_user.email %></strong>.
                <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => "navbar-link"  %>
            </p>
        <% end %>
    </div>

    <script>
        // <!--script responsible for changing pictures when choosing a gender-->

        let male_photo = ['https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_1-b4e1c88fc4c1a82e8ccfebb11a8b9d32_10.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_2-dfb0ad44bb4894cff38f7f5589405a09.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_3-69602966b4159c1cb6683273a7ca2dca.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_4-80e2fb318f88d2996ee2ae9269d178a9.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_5-4ab4324c674970bc37b90cea8937a758.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_6-2d17cab506810fb0e2b7878aafa4e969.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_7-a93fe7cb6bc167ad7bdbaeba8b759391.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_8-391c79f7b6987f8495eb7b413ccc8af4.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images onboarding/bodyfat-picker/men_9-ced322ab38b3ee28dbe60cff81733f47_50.jpg'];

        let female_photo=['https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_1-9abf5fb76f6f891ae8cc2c01b8ba976b_10.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_2-e4e5f25618cf7cd594cd80a0029398d6.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_3-c9cf251fd5f3d67ce14c7b247e6e0c65.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_4-6a1c39620810d328b9ed19a656c2b9e7.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_5-f3ad7e6f77ae59eb44d725dc20314337.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_6-de51d5a5c7af31f2ca9250ab737dc7ce.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_7-169bd2f4d57f1031a3a7338cd4a7d6bb.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_8-661cc944dd11ccedbe528590fc2b0d68_45.jpg',
            'https://stage-dev-new.s3-eu-west-1.amazonaws.com/onboarding/Onboarding/Images+onboarding/bodyfat-picker/woman_8-661cc944dd11ccedbe528590fc2b0d68_45.jpg'];

        let button1 = document.getElementById('male_button');
        let button2 = document.getElementById('female_button');
        button1.addEventListener("click", male_photos);
        button2.addEventListener("click", female_photos);

        function male_photos() {
            var i=0;
            male_photo.forEach(function (image) {
                var img = document.getElementById('gender_photo'+ i)
                img.src = image
                i++;
            });
        }

        function female_photos() {
            var i=0;
            female_photo.forEach(function (image) {
                var img = document.getElementById('gender_photo'+ i)
                img.src = image
                i++;
            });
        }
    </script>

    <script>
    // stepper script

        $(document).ready(function() {
            $('.stepper').activateStepper();
        })

        function validateStepOne() {
            // Extract the checked checkboxes from the first step
            if($('.step').first().find('input[type="checkbox"]:checked').length)
                return true;
            return false;
        }

        function validateStepThree() {
            var validation = true;
            if($('.step:nth-child(3) input[type="text"]').val().indexOf('materialize') === -1)
                validation = false;
            if($('.step:nth-child(3) input[type="checkbox"]:checked').length === 0)
                validation = false;
            return validation;

        }

        function nextStepThreeHandler() {
            if(validateStepThree())
                $('.stepper').nextStep();
            else {
                $('.stepper ').destroyFeedback();
                $('.stepper').getStep($('.stepper').getActiveStep()).addClass('wrong');
            }
        }

        var validation = $.isFunction($.fn.valid) ? 1 : 0;

        $.fn.isValid  = function() {
            if(validation){
                return this.valid();
            } else {
                return true;
            }
        };

        if (validation) {
            $.validator.setDefaults({
                errorClass: 'invalid',
                validClass: "valid",
                errorPlacement: function (error, element) {
                    if(element.is(':radio') || element.is(':checkbox')) {
                        error.insertBefore($(element).parent());
                    } else {
                        error.insertAfter(element); // default error placement.
                        // element.closest('label').data('error', error);
                        // element.next().attr('data-error', error);
                    }
                },
                success: function (element) {
                    if(!$(element).closest('li').find('label.invalid:not(:empty)').length){
                        $(element).closest('li').removeClass('wrong');
                    }
                }
            });

            // When parallel stepper is defined we need to consider invisible and
            // hidden fields
            if($('.stepper.parallel').length) $.validator.setDefaults({ignore:''});
        }

        $.fn.getActiveStep  = function() {
            var active = this.find('.step.active');
            return $(this.children('.step:visible')).index($(active))+1;
        };

        $.fn.activateStep  = function(callback) {
            if($(this).hasClass('step')) return;
            var stepper = $(this).closest('ul.stepper');
            stepper.find('>li').removeAttr("data-last");
            if(window.innerWidth < 993 || !stepper.hasClass('horizontal')) {
                $(this).addClass("step").stop().slideDown(400, function(){
                    $(this).css({'height':'auto', 'margin-bottom': '','display': 'inherit'});if(callback)callback();
                    stepper.find('>li.step').last().attr('data-last', 'true');
                });
            } else {
                $(this).addClass("step").stop().css({'width':'0%','display': 'inherit'}).animate({width:'100%'}, 400, function(){
                    $(this).css({'height':'auto', 'margin-bottom': '','display': 'inherit'});if(callback)callback();
                    stepper.find('>li.step').last().attr('data-last', 'true');
                });
            }
        };

        $.fn.deactivateStep  = function(callback) {
            if(!$(this).hasClass('step')) return;
            var stepper = $(this).closest('ul.stepper');
            stepper.find('>li').removeAttr("data-last");
            if(window.innerWidth < 993 || !stepper.hasClass('horizontal')) {
                $(this).stop().css({'transition':'none', '-webkit-transition':'margin-bottom none'}).slideUp(400, function(){
                    $(this).removeClass("step").css({'height':'auto','margin-bottom':'','transition':'margin-bottom .4s','-webkit-transition':'margin-bottom .4s'});
                    if(callback)callback();
                    stepper.find('>li').removeAttr("data-last");
                    stepper.find('>li.step').last().attr('data-last', 'true');
                });
            } else {
                $(this).stop().animate({width:'0%'}, 400, function(){
                    $(this).removeClass("step").hide().css({'height':'auto', 'margin-bottom': '','display': 'none', 'width': ''});
                    if(callback)callback();
                    stepper.find('>li.step').last().attr('data-last', 'true');
                });
            }
        };

        $.fn.showError  = function(error) {
            if(validation) {
                var name = this.attr('name');
                var form = this.closest('form');
                var obj = {};
                obj[name] = error;
                form.validate().showErrors(obj);
                this.closest('li').addClass('wrong');
            } else {
                this.removeClass('valid').addClass('invalid');
                this.next().attr('data-error', error);
            }
        };

        $.fn.activateFeedback  = function() {
            var active = this.find('.step.active:not(.feedbacking)').addClass('feedbacking').find('.step-content');
            active.prepend('<div class="wait-feedback"> <div class="preloader-wrapper active"> <div class="spinner-layer spinner-blue"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-red"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-yellow"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-green"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div></div></div>');
        };

        $.fn.destroyFeedback  = function() {
            var active = this.find('.step.active.feedbacking');
            if(active) {
                active.removeClass('feedbacking');
                active.find('.wait-feedback').remove();
            }
            return true;
        };

        $.fn.resetStepper  = function(step) {
            if(!step) step = 1;
            var form = $(this).closest('form');
            $(form)[0].reset();
            Materialize.updateTextFields();
            return $(this).openStep(step);
        };

        $.fn.submitStepper  = function(step) {
            var form = this.closest('form');
            if(form.isValid()) {
                form.submit();
            }
        };

        $.fn.nextStep = function(callback, activefb, e) {
            var stepper = this;
            var settings = $(stepper).data('settings');
            var form = this.closest('form');
            var active = this.find('.step.active');
            var next = $(this.children('.step:visible')).index($(active))+2;
            var feedback = active.find('.next-step').length > 1 ? (e ? $(e.target).data("feedback") : undefined) : active.find('.next-step').data("feedback");
            // If the stepper is parallel, we want to validate the input of the current active step. Not all elements.
            if((settings.parallel && $(active).validateStep()) || (!settings.parallel && form.isValid())) {
                if(feedback && activefb) {
                    if(settings.showFeedbackLoader) stepper.activateFeedback();
                    return window[feedback].call();
                }
                active.removeClass('wrong').addClass('done');
                this.openStep(next, callback);
                return this.trigger('nextstep');
            } else {
                return active.removeClass('done').addClass('wrong');
            }
        };

        $.fn.prevStep = function(callback) {
            var active = this.find('.step.active');
            if(active.hasClass('feedbacking')) return;
            var prev = $(this.children('.step:visible')).index($(active));
            active.removeClass('wrong');
            this.openStep(prev, callback);
            return this.trigger('prevstep');
        };

        $.fn.openStep = function(step, callback) {
            var settings = $(this).closest('ul.stepper').data('settings');
            var $this = this;
            var step_num = step - 1;
            step = this.find('.step:visible:eq('+step_num+')');
            if(step.hasClass('active')) return;
            var active = this.find('.step.active');
            var next;
            var prev_active = next = $(this.children('.step:visible')).index($(active));
            var order = step_num > prev_active ? 1 : 0;
            if(active.hasClass('feedbacking')) $this.destroyFeedback();
            active.closeAction(order);
            step.openAction(order, function(){
                if(settings.autoFocusInput) step.find('input:enabled:visible:first').focus();
                $this.trigger('stepchange').trigger('step'+(step_num+1));
                if(step.data('event')) $this.trigger(step.data('event'));
                if(callback)callback();
            });
        };

        $.fn.closeAction = function(order, callback) {
            var closable = this.removeClass('active').find('.step-content');
            if(window.innerWidth < 993 || !this.closest('ul').hasClass('horizontal')) {
                closable.stop().slideUp(300,"easeOutQuad", callback);
            } else {
                if(order==1) {
                    closable.animate({left: '-100%'},function(){closable.css({display: 'none', left: '0%'}, callback);});
                } else {
                    closable.animate({left: '100%'},function(){closable.css({display: 'none', left: '0%'}, callback);});
                }
            }
        };

        $.fn.openAction = function(order, callback) {
            var openable = this.removeClass('done').addClass('active').find('.step-content');
            if(window.innerWidth < 993 || !this.closest('ul').hasClass('horizontal')) {
                openable.slideDown(300,"easeOutQuad", callback);
            } else {
                if(order==1) {
                    openable.css({left: '100%', display: 'block'}).animate({left: '0%'}, callback);
                } else {
                    openable.css({left: '-100%', display: 'block'}).animate({left: '0%'}, callback);
                }
            }
        };

        $.fn.activateStepper = function(options) {
            var settings = $.extend({
                linearStepsNavigation: true,
                autoFocusInput: true,
                showFeedbackLoader: true,
                autoFormCreation: true,
                parallel: false // By default we don't assume the stepper is parallel
            }, options);
            $(document).on('click', function(e){
                if(!$(e.target).parents(".stepper").length){
                    $('.stepper.focused').removeClass('focused');
                }
            });

            $(this).each(function(){
                var $stepper = $(this);
                if(!$stepper.parents("form").length && settings.autoFormCreation) {
                    var method = $stepper.data('method');
                    var action = $stepper.data('action');
                    var method = (method ? method : "GET");
                    action = (action ? action : "?");
                    $stepper.wrap( '<form action="'+action+'" method="'+method+'"></form>' );
                }

                $stepper.data('settings', {linearStepsNavigation: settings.linearStepsNavigation,autoFocusInput: settings.autoFocusInput,showFeedbackLoader:settings.showFeedbackLoader, parallel:$stepper.hasClass('parallel')});
                $stepper.find('li.step.active').openAction(1);
                $stepper.find('>li').removeAttr("data-last");
                $stepper.find('>li.step').last().attr('data-last', 'true');

                $stepper.on("click", '.step:not(.active)', function () {
                    var object = $($stepper.children('.step:visible')).index($(this));
                    if($stepper.data('settings').parallel && validation) { // Invoke parallel stepper behaviour
                        $(this).addClass('temp-active');
                        $stepper.validatePreviousSteps()
                        $stepper.openStep(object + 1);
                        $(this).removeClass('temp-active');
                    } else if(!$stepper.hasClass('linear')) {
                        $stepper.openStep(object+1);
                    } else if(settings.linearStepsNavigation) {
                        var active = $stepper.find('.step.active');
                        if($($stepper.children('.step:visible')).index($(active))+1 == object) {
                            $stepper.nextStep(undefined, true, undefined);
                        } else if ($($stepper.children('.step:visible')).index($(active))-1 == object) {
                            $stepper.prevStep(undefined);
                        }
                    }
                }).on("click", '.next-step', function(e) {
                    e.preventDefault();
                    $stepper.nextStep(undefined, true, e);
                }).on("click", '.previous-step', function(e) {
                    e.preventDefault();
                    $stepper.prevStep(undefined);
                }).on("click", "button:submit:not(.next-step, .previous-step)", function (e) {
                    e.preventDefault();
                    feedback = e ? $(e.target).data("feedback") : undefined;
                    var form = $stepper.closest('form');
                    if(form.isValid()) {
                        if(feedback) {
                            stepper.activateFeedback();
                            return window[feedback].call();
                        }
                        form.submit();
                    }
                }).on("click", function () {
                    $('.stepper.focused').removeClass('focused');
                    $(this).addClass('focused');
                });
            });
        };

        /**
         * Return the step element on given index.
         *
         * @param step, index of the step to be returned
         * @returns {*}, the step requested
         */
        $.fn.getStep = function(step) {
            var settings = $(this).closest('ul.stepper').data('settings');
            var $this = this;
            var step_num = step - 1;
            step = this.find('.step:visible:eq('+step_num+')');
            return step;
        };

        /**
         * Run validation over all previous steps from the steps this
         * function is called on.
         */
        $.fn.validatePreviousSteps = function() {
            var active = $(this).find('.step.temp-active');
            var index = $(this.children('.step')).index($(active));
            // We assume that the validator is set to ignore nothing.
            $(this.children('.step')).each(function(i) {
                if (i >= index) {
                    $(this).removeClass('wrong done');
                } else {
                    $(this).validateStep();
                }
            });
        };

        /**
         * Validate the step that this function is called on.
         */
        $.fn.validateStep = function() {
            var stepper = this.closest('ul.stepper');
            var form = this.closest('form');
            var step = $(this);
            // Retrieve the custom validator for that step if exists.
            var validator = step.find('.next-step').data("validator");
            if(this.validateStepInput()) { // If initial base validation succeeded go on
                if(validator) { // If a custom validator is given also call that validator
                    if (window[validator].call()) {
                        step.removeClass('wrong').addClass('done');
                        return true;
                    }
                    else {
                        step.removeClass('done').addClass('wrong');
                        return false;
                    }
                }
                step.removeClass('wrong').addClass('done');
                return true;
            } else {
                step.removeClass('done').addClass('wrong');
                return false;
            }
        };

        /**
         * Uses the validation variable set by the stepper constructor
         * to run standard validation on the current step.
         * @returns {boolean}
         */
        $.fn.validateStepInput = function() {
            var valid = true;
            if (validation) {
                // Find all input fields dat need validation in current step.
                $(this).find('input.validate').each(function() {
                    if (!$(this).valid()) {
                        valid = false;
                        return false;
                    }
                });
            }
            return valid;
        };
    </script>
  </body>
</html>
